<launch>
	<group ns="dhf">
		<node pkg="stfn_object_detector" type="ros_aligner_fitness_checker" name="ros_aligner_fitness_checker" output="screen">
			<rosparam file="$(find stfn_object_detector)/launch/config/detector.yaml" command="load"/>
			<rosparam file="$(find stfn_object_detector)/launch/config/aligner_test.yaml" command="load"/>
			<remap from="/camera/rgb/image" to="/camera/rgb/image_rect_color"/>
			<remap from="/camera/depth/image" to="/camera/depth_registered/image_raw"/>
		</node>
	</group>
</launch>